<h2><%= @caterer.user.first_name %> <%= @caterer.user.last_name %></h2>
<p><%= @caterer.address %></p>
<p><%= @caterer.cuisine %></p>
<p><%= @caterer.description %></p>
<p><%= @caterer.price_per_hour %></p>
