<div class="container" id='caterer'>
    <%= link_to caterers_path do %>
      <i class="fa-solid fa-arrow-left arrow"></i>
    <% end %>

  <h1><%=@caterer.name.upcase %></h1>
  <div class="caterer-position">
    <div class="caterer-details">
      <h2><i class="fa-solid fa-person"></i><%= @caterer.user.first_name %> <%= @caterer.user.last_name %></h2>
        <div class="caterer-txt">
          <p><i class="fa-solid fa-utensils"></i> : <%= @caterer.cuisine %></p>
          <p><i class="fa-regular fa-file-lines"></i> : <%= @caterer.description %></p>
          <p><i class="fa-solid fa-location-dot"></i> : <%= @caterer.address %></p>
          <i class="bi bi-currency-dollar"></i>
            <p> <i class="fa-solid fa-euro-sign"></i> : <%= @caterer.price_per_hour %></p>
        </div>
    </div>

        <div>
          <%= cl_image_tag @caterer.photo.key, height: 400, width: 500, crop: :fill, class:"caterer-img" %>
        </div>




  </div>

  <% if @caterer.user != current_user %>
  <p><%= link_to  "Book now", new_caterer_booking_path(@caterer), class:"btn btn-flat"%></p>

  <% end %>
</div>
