
<body>
<h1>Selected Caterer:</h1>
<h2><%= @caterer.user.first_name %> <%= @caterer.user.last_name %></h2>
<p><%= @caterer.address %></p>
<p><%= @caterer.cuisine %></p>
<p><%= @caterer.description %></p>
<p><%= @caterer.price_per_hour %></p>
<p><a class="btn btn-flat" href="#">Book now</a></p>
</body>
